#historial{
	margin: 0px auto;
	background-color: #CEE6EA;
}

#texto{
	background-color: rgba(0, 69, 95, 0.4);
    width: 25%;
    padding: 1%;
    font-family: caladea;
    position: relative;
    top: 10px;
    color: #fff;
    margin: 0px auto;
    border: 3px solid #00A99D;
    border-radius: 8px;
    box-shadow:inset  0px 0px 10px #000;
}

#calendario{
    width: 250px;
    height: 250px;
    background-color: #CEE6EA;
   /*background: -webkit-radial-gradient(rgba(15, 16, 49, 0.26), rgba(15, 16, 49, 0.31));
    background: -o-radial-gradient(rgba(15, 16, 49, 0.26), rgba(15, 16, 49, 0.31));
    background: -moz-radial-gradient(rgba(15, 16, 49, 0.26), rgba(15, 16, 49, 0.31));
    background: radial-gradient(rgba(15, 16, 49, 0.26), rgba(15, 16, 49, 0.31));/**/
    border: 3px solid #bebf1a;
    border-radius: 10px;
    border: solid 1px #069692;
    margin: 18px;
}

div#margen{
    width: 105%;
    height: 200px;
    margin: 15px;
    position: relative;
}

.b {
	display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 4px;
    border: 1px solid #069692;
    margin: 2px;
    margin-top: 3px;
    padding: 0;
    vertical-align: top;
    background-color: #ccc;
    transition:300ms;
    transition-color:#fff;
     box-shadow: 0px 5px 5px rgba(15, 15, 51, 0.5);
}

.b:hover{
	background-color:#50C1B1; 
	transition:250ms;
	border: solid 1px #026075;
}