body {
    background: url(../img/01.jpg) no-repeat fixed;
}
    
    @font-face {
    font-family: "caladea";
    font-style: normal;
    font-weight: normal;
    src: local("?"), url("../fonts/Caladea-Regular.ttf") format("truetype");
}

/*--   contenedor  ---*/
#contenedor {
    margin: 0px auto;
}

/*--   encabezado ---*/

header {
    font-family: caladea;
    font-size: 20px;
    padding: 10px;    
    height:60px;
    color: #fff;
    background-color: #00455F;
    -ms-box-shadow:  4px 4px 24px #000;
    -moz-box-shadow:  4px 4px 24px #000;
    -webkit-box-shadow:  4px 4px 24px #000;
    -o-box-shadow:  4px 4px 24px #000;
    box-shadow:  4px 4px 24px #000;
}


/*//////////////////////////////////////////////////////////////////
                    inicia login.html
//////////////////////////////////////////////////////////////////*/
#contenedor{
    height: 620px;
}

#login {
    background-color: rgba(0, 69, 95, 0.4);
    width: 25%;
    padding: 1%;
    font-family: caladea;
    position: relative;
    top: 180px;
    margin: 0px auto;
    border: 3px solid #00A99D;
    border-radius: 8px;
    box-shadow:inset  0px 0px 10px #000;

}

#regis {
    background-color: rgba(0, 69, 95, 0.4);
    width: 350px;
    padding: 3px auto;
    font-family: caladea;
    color: antiquewhite;
    position: relative;
    top: 5px;
    margin: 0px auto;
    border: 3px solid #00A99D;
    border-radius: 8px;
    box-shadow: inset 0px 0px 10px #000;
}

#regis ul li {
    list-style-type: none;
}


#regisvalido {
    background-color: rgba(0, 69, 95, 0.4);
    width: 350px;
    padding: 5px;
    font-family: caladea;
    color: azure;
    text-align: center;
    position: relative;
    top: 180px;
    margin: 0px auto;
    border: 3px solid #00A99D;
    border-radius: 8px;
    box-shadow:inset  0px 0px 10px #000;

}
/*--   texto  "login" ---*/

form h1{
     font-family: caladea;
     color: white;
     text-align:  center;
     font-size: 30px;
}
/*--   texto "ingresar" ---*/
form h2 {
    font-family: Helvetica;
    color: aliceblue;
    text-align: center;
    font-size: 50%;
    
}
/*--   recuadros txt ---*/

form input {
    width: 60%;
    height: 20px;
    margin: 1% 20%;
    color: #28A5B5;
    text-align: center;
    border-radius: 5px;
}

 <!-- texto contraseña-->
form h3 {
     font-family: Helvetica;
    color: aliceblue;
    text-align: center;
    font-size: 10%;
}

/*--   botones ---*/

form button {
    background-color: #158CB5;
    font-family: caladea;
    font-size: 20px;
    color: #fff;
    width: 40%;
    height: 30px;
    margin: 5% 30%;
    border-radius: 7px;
    box-shadow: 0px 2px 0px;
}
form button:hover {
    background-color: #00A99D;
}
/*//////////////////////////////////////////////////////////////////
                   termina  login.html
//////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////
                 inicia historial.html
//////////////////////////////////////////////////////////////////*/

#historial{
    height: 620px;
}

#calendario{
        color: #fff;
        margin: 0px auto;
        width: 25%;
        text-align: center;
           }

article {
    background-color: #09647A;
    padding: 1%;
    border: 3px solid #00A99D;
    border-radius: 8px;
    box-shadow:inset  0px 0px 10px #000;
    margin: 0% auto;

}
/*//////////////////////////////////////////////////////////////////
                   termina  bienvenido.html
//////////////////////////////////////////////////////////////////*/

/*//////////////////////////////////////////////////////////////////
                    contraseña o usuario incorrecto.html
//////////////////////////////////////////////////////////////////*/

.boton{
        padding: 12px;
        background-image: url(../img/flecha.png);
        background-repeat: no-repeat;
        background-size: 20%;
        position: relative;
        top:10%;
        margin: 0px auto;
    }


/*//////////////////////////////////////////////////////////////////
                    termina contraseña o usuario incorrecto.html
//////////////////////////////////////////////////////////////////*/



/*////////////////--   pie de pagina ---//////////////////////////*/
footer {
    background-color: #00455F;
    color: #9FEAFC;
    text-align: center;
    font-family: caladea;
    font-size: 20px;
    height:60px;
    padding: 8px;
    margin-bottom: 0px;
    margin: 0% auto;
    ms-box-shadow:  0px 4px 24px #000;
    -moz-box-shadow:  0px 4px 24px #000;
    -webkit-box-shadow:  0px 4px 24px #000;
    -o-box-shadow:  0px 4px 24px #000;
    box-shadow:  4px 4px 24px #000;
}



